SQLAlchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
pydantic-settings
python-multipart
pypdf
python-docx

fastapi~=0.116.2
pip~=23.2.1
cryptography~=46.0.1
SQLAlchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
pydantic-settings
SQLAlchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
pydantic-settings
python-multipart
pypdf
python-docx
spacy
torch
sentence-transformers
torch
